*{
    margin: 0px;
    padding: 0px;
}

/* Container for Logo, Nav bar and Credential Buttons */

.cont-nav{
    width: auto; 
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F5F7FA;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 50px;
    margin-top: 10px;

    .loguito{
        width: 35px;
        height: 24px;
    }

    .n-logo{
        color:#263238;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;

    }

}

.nv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    left: 10px;

    /* en el responsive cambiar el flex por grid con 1 columna*/

    .item{
        font-family: "Inter",sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }
}

.credentials{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    margin-top: 10px;
    right: 50px; /* Organizarlo en el media */

    .login{
        width: 77px;
        height: 40px;
        opacity: 1;
        border-radius: 6px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        border: none;
        background-color: #F5F7FA;


        .lg{
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            color: #4CAF4F;
        }
    }

    .sign-up{
        width: 91px;
        height: 40px;
        opacity: 1;
        border-radius: 6px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        border: none;
        background-color: #4CAF4F;
        

        .su{
           font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

/* Hero Section */

.cont-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F5F7FA;
    width: auto;
    height: auto;
    position: relative;
    gap: 60px;
    margin-bottom: 20px;

    .box-info{
        width: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2fr 1fr;

        .cont-title{
            position: relative;
            margin-top: 20px;
            height: auto;
            width: auto;
            grid-row: 1;
            .title{
                font-family: Inter;
                font-weight: 600;
                font-size: 64px;
                line-height: 76px;
                letter-spacing: 0%;
                color: #4D4D4D;

            }

            .complement{
                font-family: Inter;
                font-weight: 600;
                font-size: 64px;
                line-height: 76px;
                letter-spacing: 0%;
                color: #4CAF4F;
            }

            .info{
                font-family: "Inter",sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                color: #717171;
            }
        }
        
        .register{
            width: 128px;
            height: 52px;
            opacity: 1;
            gap: 10px;
            border-radius: 4px;
            padding-top: 14px;
            padding-right: 32px;
            padding-bottom: 14px;
            padding-left: 32px;
            border:none;
            background-color: #4CAF4F;
            position: relative;
            margin-top: 30px;

            .let{
                font-family: "Inter",sans-serif;
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                color: #FFFFFF;
            }
        }
    }


}

.ilustration{
    width: auto;
    height: 407px;
    opacity: 1;
}

.cont-points{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 46px;
    height: 10px;
    opacity: 1;
    position: relative;

    .point-1{
        width: 10px;
        height: 10px;
        opacity: 1;
        border-radius: 100%;
        background-color: #4CAF4F;
    }

    .point{
        width: 10px;
        height: 10px;
        opacity: 0.3;
        background-color:#4CAF4F ;
        border-radius: 100%;
    }
}

/* Our Clients section */

.cont-clients{
    position: relative;
    margin-top: 20px;

    .cont-txt{
        .h1-clients{
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 0%;
            text-align: center;
            color: #4D4D4D;
            margin-bottom: 10px;
        }

        .txt{
            font-family: "Inter",sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            color: #717171;
        }
    }
    
    .cont-logos{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .logos{
            display: flex;
            gap: 220px; /* Organizar en el media*/
            flex-wrap: wrap;
            .logo{
                width: 48px;
                height: 48px;
                margin-top: 20px;

                .log1{
                    width: 40px;
                    height: 40px;
                    opacity: 1;
                    top: 4px;
                    left: 4px;
                }
                .log2{
                    width: 40px;
                    height: 27.999971389770508px;
                    opacity: 1;
                }
                .log3{
                    width: 55.00001907348633px;
                    height: 30.000011444091797px;
                    opacity: 1;
                }
                .log4{
                    width: 47px;
                    height: 29px;
                    top: 9.85px;
                    left: 1px;
                    opacity: 1;
                }
                .log5{
                    width: 47px;
                    height: 29px;
                    top: 9.85px;
                    left: 1px;
                    opacity: 1;
                }
                .log6{
                    width: 41px;
                    height: 27px;
                    opacity: 1;
                }
            }

        }        
    }

}

/* Community Section */
.cont-community{
    .cont-txt{
        margin-top: 80px;
        .h1-clients{
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 0%;
            text-align: center;
            color: #4D4D4D;
            margin-bottom: 10px;
        }

        .txt{
            font-family: "Inter",sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            color: #717171;
        }
    }

    .container-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        position: relative;
        margin-top: 80px;

        .card{
            width: 299px;
            height: 260px;
            gap: 8px;
            opacity: 1;
            padding-top: 24px;
            padding-right: 32px;
            padding-bottom: 24px;
            padding-left: 32px;
            border-radius: 8px;
            box-shadow: 0px 2px 4px 0px #ABBED133;


            .cont-header-card{
                width: 267px;
                height: 144px;
                gap: 16px;
                opacity: 1;
                
                .header-card{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .cont-logo{
                        width: 65.00000762939453px;
                        height: 56px;
                        opacity: 1;

                    }

                    .title-card{
                        font-family: "Inter",sans-serif;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: 0%;
                        text-align: center;
                        color: #4D4D4D;
                    }
                }

            }
        }

        .container-txt{
            width: 251px;
            height: 60px;
            gap: 8px;
            opacity: 1;

            .cont{
                font-family: "Inter",sans-serif;
                font-weight: 400px;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: center;
                color: #717171;
            }
        }
    }
}

/* Body part (how say in the figma) */

.body{

    /* Section Unlock */
    .unlock{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        position: relative;
        margin-top: 80px;


        /* Cont img */
        .cont-img{
            width: 441.5328674316406px;
            height: 328.9949645996094px;
            opacity: 1;

            /* Values img */
            .mobile-login{
                width: 441.5328674316406px;
                height: 328.9949645996094px;
                top: 52px;
                opacity: 1;
            }
        }

        /* Cont Explanation */
        .cont-exp{
            width: 601px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr 1fr;
            margin-top: 50px;
            position: relative;

            /* Container text */
            .cont-p{
                grid-row: 1/3;

                /* Configurations H1 Title */
                .title{
                    font-family: "Inter", sans-serif;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: 0%;
                    color: #4D4D4D;
                }

                /* Configurations of Text */
                .text{
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0%;
                    color: #717171;
                }
            }

            /* Button Lear More */
            .learn-more{
                width: 151px;
                height: 52px;
                gap: 10px;
                opacity: 1;
                padding-top: 14px;
                padding-right: 32px;
                padding-bottom: 14px;
                padding-left: 32px;
                border-radius: 4px;
                border: none;
                background-color: #4CAF4F;
                position: relative;
                margin-bottom: 80px;
                grid-row: 3;

                /* Paragraph Settings */
                .ph{
                    font-family: "Inter";
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: middle;
                    color: #FFFFFF;
                    
                }

            }
        }
    }

    /* Section Achievements */
    .arch{
        width: auto;
        height: auto;
        justify-content: space-between;
        opacity: 1;
        padding-top: 64px;
        padding-right: 144px;
        padding-bottom: 64px;
        padding-left: 144px;
        background: #F5F7FA;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .heading{
            width: auto;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 2fr 1fr;

            .cn-tx{
                position: relative;
                margin-top: 20px;
                height: auto;
                width: auto;
                grid-row: 1;

                .title{
                    font-family: "Inter", sans-serif;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: 0%;
                    color: #4D4D4D;

                }

                .title2{
                    font-family: "Inter",sans-serif;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: 0%;
                    color: #4CAF4F;
                }

                .tx{
                    font-family: "Inter",sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    color: #717171;
                }
            }
        }

        .est{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .est1{grid-column: 1; grid-row: 1;}
            .est2{grid-column: 2; grid-row: 1;}
            .est3{grid-column: 1; grid-row: 2;}
            .est4{grid-column: 2; grid-row: 2;}
        }

    }
}


/*

RESPONSIVE SECTION

*/

@media screen and (width <= 768px) { 
    .credentials{
        right: 0px;
        left: 10px;
    }

    .cont-nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .nv{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-wrap: wrap;
        left: -10px;
    }

    .cont-clients{   
        .cont-logos{
            position: absolute;
            margin-bottom: 20px;
            .logos{
                display: flex;
                gap: 60px;

            }        
        }

    }
    .cont-community{
        position: relative;
        margin-top: 200px;

    }


}

@media screen and (width <= 480px) {

    .cont-community{
        position: relative;
        margin-top: 500px;

    }

    .body
        .arch{
            .est{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
        }
    }

}